:root {
  --font-family: "Google Sans", sans-serif;
  --button-fs: clamp(0.8rem, 0.65rem + 0.75vw, 1.25rem);
  --h1-fs: clamp(1.6rem, 1.15rem + 1.9vw, 2.5rem);
  --h2-fs: clamp(1.35rem, 0.85vw + 1.16rem, 1.8rem);
  --h3-fs: clamp(1.35rem, 0.85vw + 1.16rem, 1.5rem);
  --p-fs: clamp(1rem, 0.85rem + 0.75vw, 1.25rem);
  --fs-small: clamp(0.95rem, 0.57vw + 0.67rem, 1.05rem);
  --fs-smaller: clamp(0.9rem, 0.5rem + 0.6vw, 0.9rem);
  --lg-fs: clamp(2.2rem, 1.5rem + 2.1875vw, 4rem);
  --button-bg: hsl(25 100% 50%);
  --hover: hsl(25 100% 50%);
  --border: hsl(25 100% 50%);
  --image-shadow: hsl(25 100% 50% / 0.4);
  --p-line-height: 1.5;
}

:root.dark {
  --bg-color: hsl(239 66% 21%);
  --surface-color: hsl(231 43% 29%);
  --fg-color: hsl(239 66% 90%);
  --fg-color-muted: hsl(239 26% 70%);
  --card-shadow: hsl(239 66% 90% / 0.2);
}

:root.light {
  --bg-color: hsl(217 53% 88%);
  --surface-color: hsl(217 53% 98%);
  --fg-color: hsl(239 66% 21%);
  --fg-color-muted: hsl(231 23% 41%);
  --card-shadow: hsl(239 66% 21% / 0.2);
}

@font-face {
  font-family: "Google Sans";
  src: url("../fonts/GoogleSansFlex_24pt-Medium.woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100vh;
  overflow-x: hidden;
}

/* Header styling */
.header {
  padding: 10px 50px;
  background-color: var(--bg-color);
  font-family: var(--font-family);

  /* Sticky Postion */
  position: sticky;
  top: 0;
  z-index: 2;
  border-bottom: 1px solid var(--fg-color);
}

.main-logo a {
  color: var(--fg-color);
  text-decoration: none;
  font-family: inherit;
}

.nav-links-button {
  position: relative;
}

hr {
  color: var(--fg-color);
}

/* Media query for large screens */
@media (width > 770px) {
  .nav-bar {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-links-button {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;

    list-style: none;
  }

  /* Hide Hamburger button on large screens */
  .hamburger {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* Media query for screens below 770px */
@media (width <= 770px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .nav-links-button {
    display: flex;
    gap: 2rem;
  }

  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 1rem;
  }

  /* Hide Hamburger button on large screens */
  .hamburger {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

/* Media query for screens below 600px */
@media (width <= 600px) {
  .nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .hamburger {
    display: block; /* Show hamburger icon */
  }

  .nav-menu {
    display: none; /* Hide menu by default */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    width: 100%;
    background-color: var(--bg-color); /* Match your theme variable */
    padding: 1rem 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    z-index: 99; /* Ensures menu appears above page content */
  }

  /* Target both class forms in case your JS toggles on the class directly */
  .nav-menu.active,
  ul.nav-menu.active {
    display: flex;
    /* width: 100vw; */
  }

  hr {
    margin-top: 20px;
  }
}

.nav-menu a,
.social-links a {
  color: var(--fg-color-muted);
  text-decoration: none;
  padding: 7px 12px;
  border: 1px solid transparent;
  border-radius: 5px;
  transition: all 0.2s ease;
}

.nav-menu a:hover,
.social-links a:hover {
  border: 1px solid var(--border);
  color: var(--hover);
}

/* Main Styling */
.main {
  background-color: var(--surface-color);
  font-family: var(--font-family);
}

.hero-section {
  min-height: calc(100vh - 60px);
  background-image: 
    /* Soft orange ambient light centered near the top */ radial-gradient(
    circle at 10% 50%,
    hsla(25, 95%, 53%, 0.25) 0%,
    hsla(25, 95%, 53%, 0) 60%
  );
}

.hero-heading {
  color: var(--fg-color);
  font-size: var(--h1-fs);
  font-weight: normal;
  margin-bottom: 1rem;
}

.hero-heading span {
  display: block;
  width: fit-content;
  font-size: var(--lg-fs);
  font-weight: bolder;
  background-image: linear-gradient(90deg, #ff6b00, #ff9e7d);
  background-size: 100%;
  background-position: center;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero-section p {
  color: var(--fg-color-muted);
  font-size: var(--p-fs);
  max-width: 40ch;
  margin-bottom: 2rem;
  line-height: var(--p-line-height);
}

.hire-me,
.button {
  background-color: var(--button-bg);
  color: var(--fg-color);
  font-size: var(--p-fs);
  font-family: var(--font-family);
  text-decoration: none;
  border: 2px solid var(--button-bg);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hire-me:hover,
.button:hover {
  background-color: transparent;
}

.hire-me {
  padding: 10px 25px;
  margin-bottom: 20px;
}

.toggle-theme {
  padding: 5px 10px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  gap: 1.2rem;
  align-items: center;

  list-style: none;
}

.social-links a {
  font-size: var(--p-fs);
}

.right img {
  border-radius: 15px;
  box-shadow: 0px 0px 100px var(--image-shadow);
  filter: brightness(115%) contrast(105%);
}

/* About Section Styles */
.about-section,
.skills-section,
.my-projects-section {
  padding: 1rem 40px 3rem 40px;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.section-headings {
  color: var(--fg-color);
  font-size: var(--h2-fs);
  margin: 2rem 0;
  transition: all 0.3s ease;
  width: fit-content;

  transition: all 0.3s ease;
}

.section-headings:hover {
  color: var(--hover);
}

.about-section p,
.my-projects-section p {
  color: var(--fg-color-muted);
  line-height: var(--p-line-height);
  font-size: var(--p-fs);
  max-inline-size: 70ch;

  margin-bottom: 2rem;
}

/* My process */
.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  flex: 1;

  border: 2px solid var(--fg-color-muted);
  border-radius: 10px;
  background-color: var(--bg-color);
  box-shadow: 0px 0px 10px var(--card-shadow);
  transition: all 0.3s ease;
}

.my-process .card {
  min-width: 16.5rem;
  max-width: 20rem;
  min-height: 16.5rem;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.my-skills .card {
  min-width: 12rem;
  max-width: 15rem;
  max-height: 6rem;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-content: center;
}

.my-skills svg {
  height: 100%;
  border-radius: 50px;
}

.card h3 {
  font-size: var(--h3-fs);
  color: var(--fg-color);
}

.card p {
  font-size: var(--fs-small);
  color: var(--fg-color-muted);
}

.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 20px hsla(1 0% 0% / 0.2);
}

/* Projects Section */
.projects {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.project {
  background-color: var(--bg-color);
  max-width: 500px;
  border: 1px solid transparent;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px var(--card-shadow);

  padding: 1rem;
}
.project-image img {
  width: 100%;
  max-height: 220px;
  object-fit: cover;
}

.project .text p {
  padding: 1rem;
  font-size: var(--fs-small);
  text-align: start;
}

.project h3 {
  color: var(--fg-color);
  text-align: start;
  font-size: var(--fs-small);
}

.technologies-used {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 1rem;
}

.project-links a {
  text-decoration: none;
  font-size: var(--fs-smaller);
  padding: 5px 10px;
  color: var(--fg-color-muted);
  border: 1px solid transparent;
  border-radius: 7px;

  transition: all 0.3s ease;
}

.project-links a:hover {
  color: var(--hover);
  border-color: var(--hover);
}

.project:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px var(--card-shadow);
  border-color: var(--button-bg);
}

/* Contact Section */
.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contact-section p {
  color: var(--fg-color-muted);
  font-size: var(--p-fs);
  margin-bottom: 2rem;
}

.wrapper {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  max-width: 90%;
  width: 500px;
  padding: 1rem;
  margin: 1rem;
}

.form input,
.form textarea {
  outline: none;
  border: 1px solid var(--fg-color-muted);
  border-radius: 15px;
  padding: 15px;
  background-color: var(--bg-color);
  color: var(--fg-color);
  font-size: var(--fs-small);
  width: 100%;
}

.form textarea {
  min-height: 200px;
  margin-bottom: 1rem;
}

.form button {
  padding: 15px;
  width: 100%;
  font-size: var(--p-fs);
  font-weight: bold;
  color: var(--button-fs);
  background-color: var(--button-bg);
  border-radius: 15px;
  cursor: pointer;
  outline: none;
  border: 1px solid var(--button-bg);

  transition: all 0.3s ease;
}

.form button:hover {
  color: var(--hover);
  background-color: transparent;
}

.contact-details {
  flex: 1;

  background-color: var(--bg-color);
  padding: 1.5rem;
  max-width: 90%;
  max-height: 480px;
  width: 500px;
  text-align: start;
  border: 1px solid var(--fg-color-muted);
  border-radius: 15px;

  display: flex;
  flex-direction: column;
  gap: 1rem;

}

@media (width<=1100px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

@media (width<=520px) {
  .form,
  .contact-details {
    max-width: 90vw;
    width: 100%;
  }
}

.contact-details h3 {
  font-size: var(--h3-fs);
  color: var(--fg-color);
}

.contact-details p {
  font-size: var(--fs-small);
}

.contact-details ul {
  font-size: var(--fs-smaller);
  color: var(--fg-color-muted);
  list-style: none;
  line-height: var(--p-line-height);
}

.contact-details .email {
  color: var(--fg-color-muted);
  text-decoration: none;

  transition: all 0.3s ease;
}

.contact-details .email:hover {
  color: var(--hover);
}

.contact-details .contact-links {
  align-self: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.contact-details i {
  color: var(--fg-color-muted);
  margin-right: 10px;
  font-size: var(--p-fs);
  /* margin: 1rem 0; */
  padding: 7px;
}

.contact-details i:hover {
  color: var(--hover);
}

@media (width > 820px) {
  /* Hero Section Styles */
  .hero-section {
    display: flex;
    gap: 2rem;
  }
  .left {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    flex: 3;
    padding: 50px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;

    flex: 2;
  }

  .right img {
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width: 350px;
  }
}

@media (width < 820px) {
  /* Hero Section Styles */
  .hero-section {
    display: flex;
    flex-direction: column-reverse;
  }

  .right {
    align-self: center;
  }
  .right img {
    aspect-ratio: 1 /1;
    object-fit: cover;
    margin: 20px;
  }

  .left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .left p,
  .left h2 {
    text-align: center;
  }

  /* About Section Styles */

  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-section h2,
  .about-section p {
    text-align: center;
  }
}

@media (width <=500px) {
  /* Hero Section Styles */
  .right img {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }

  .hero-section p {
    margin: 0 1rem 1rem 1rem;
    max-width: 35ch;
  }
}

/* .header,
.hero-heading,
.about-section,
.my-process,
.my-skills,
.my-projects-section,
.contact-section {
  overflow: hidden;
  max-width: 100%;
} */

section[id],
#about,
#skills,
#projects,
#contact {
  scroll-margin-top: 60px; /* roughly your header's height, adjust to match */
}
